<html>
    <head>
        <title>File Upload</title>
        <link rel="stylesheet" href="../stylesheet.css">
    </head>
    <body>
        <form action="/handleUpload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file"/><BR>
            <input type="text" name="min_support" placeholder="min_support" id="min_support"/><BR>
            <input type="text" name="min_confidence" placeholder="min_confidence" id="min_confidence"/><BR>
            <input type="submit" value="Upload" id="submit"/><BR>
        </form> 
    </body>
</html>
